.drawer-hamburger{
  width: 3rem;
  padding: 2em;
  position: static;
  display: inline-block;
}

.drawer-menu-item{
    font-family: Century Gothic;
    letter-spacing: 0.3em;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
}
