

/*body************************************************************************/

#body-color{
  background-color: rgb(246, 246, 246);
}


/*header************************************************************************/

header{
  padding-top: 0.1em;
  background-color: white;
}


.site-title-wrap{
  text-align: center;
  margin-bottom: 5em;
  /* border-bottom: solid  0.5px; */
  border-color: black;
  box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.01);


}

.site-title{
  padding-left: 1em;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 7vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  padding-bottom: 0.3em;
}


/*content***********************************************************************/

.work-name{
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Century Gothic';
  text-align: center;
  font-size: 3vw;
}

.content-wrap{

}

.discrpt-wrap{
  background-color: #f2f2f270;
  padding: 2em;
  margin-top: 0.2em;
  line-height: 1.8em;

}

p{
  /*margin: 0;*/
  /* padding-top: 53px; */
  font-family: 'Century Gothic';
}

.p-phrase{
  margin: 2em;
}

.container{
  background-color: rgba(255, 255, 255, 1);
  margin-top: 3em;
  padding: 1em;
  box-shadow: 0px 4px 25px rgba(0,0,0,0.1);

}

.word-wrap{
  word-wrap: break-word;

}

/*icon-adjuster***********************************************************************/


.toChatama{
  background-color: #f2f2f270;
  padding: 5em;
  margin-top: 0.5em;
  text-align: center;

}

.works-link{
  margin: 0 1em;
}

.lngs{
  background-color: #f2f2f270;
  padding: 0.5em;
  margin-top: 0.2em;

}

.lng-icon{
  width: 3em;
}

.fire-icon{
  width: 1em;
}

.lngs-title{
  text-align: center;
}

.lng-front{
  padding-left: 0.5em;
}

.lng-native{
  padding-left:1em;
}

.lang-html {
	width:2.6em;
}
.lang-css {
	width:1.9em;
}

.lang-js {
	width:1.9em;
  margin: 0 1%;
}

.tool-scketch {
	width:10em;
}

.tool-ps {
	width:3em;
}

.lang-php {
	width:3em;
  margin-left: 0.8em;
  padding-top: 1em;

}



.lang-unity {
	width:6em;
  padding-top:0.5em ;
}
.lang-swift {
	width:5em;
}

.lang-ar{
	display: inline-block;
	width:5em;

}

.lang-firebase{
	display: inline-block;
	/* padding-top: 1em; */
	width:8em;
}


.bitbucket{
  border-top: dotted 1px;
  margin-top: 2%;
  padding-top: 1em;
}




/*footer***********************************************************************/

footer{
  margin-top: 2em;
  /* border-top: solid 0.5px rgb(153, 153, 153); */
  height: 6em;
  /* background-color: rgba(228, 228, 228, 0.13); */
  box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.1);

}
