.profile-img-wrap{
  text-align: center;
}

.profile-img{
  display: inline-block;
}


.profile-name{
    margin: 0;
    margin-top: 1em;
    margin-bottom: 20px;
    font-family: Gulim;
    text-align: center;
    font-size: 3vw;
}
