@charset "UTF-8";



$backgroundColor:rgb(246, 246, 246);
$footerColor: rgb(255, 255, 255);
$mainWhite: rgb(255, 255, 255);
$megaNavWeek: rgb(179, 179, 179);
$licence:rgb(238, 238, 238);

$nav__readColor: #47bae6;
$nav__searchColor: #ffe600;
$nav__jobColor: #52cb3e;
