@charset "UTF-8";
@import "./mixins.scss";
@import "./colors.scss";
@import "./text.scss";
@import "./shapes.scss";




// #############################################################################
// ################################# 基本構造  ##################################
// #############################################################################

a {
  @include a();
}

html {
  height: 100%;
}

body {
  @include body($backgroundColor);
}

.container {
  flex: 1;
}
// *********************************** header **********************************

header {
  @include header($mainWhite);
}

.site-title-wrap {
  text-align: center;
  margin-bottom: 5em;
  /* border-bottom: solid  0.5px; */
  border-color: black;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.01);
}

.site-title {
  padding-left: 1em;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 7vw;
  font-weight: lighter;
  letter-spacing: 0.5em;
  padding-bottom: 0.3em;
}
/*content***********************************************************************/
.work-name {
  margin: 0 0 20px;
  font-family: 'Century Gothic';
  text-align: center;
  font-size: 3vw;
}

.content-wrap {}

.discrpt-wrap {
  background-color: #f2f2f270;
  padding: 2em;
  margin-top: 0.2em;
  line-height: 1.8em;
}

p {
  /*margin: 0;*/
  /* padding-top: 53px; */
  font-family: 'Century Gothic';
}

.p-phrase {
  margin: 2em;
}

.container {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 3em;
  padding: 1em;
  box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}

.word-wrap {
  word-wrap: break-word;
}
/*icon-adjuster***********************************************************************/
.toChatama {
  background-color: #f2f2f270;
  padding: 5em;
  margin-top: 0.5em;
  text-align: center;
}

.works-link {
  margin: 0 1em;
}

.lngs {
  background-color: #f2f2f270;
  padding: 0.5em;
  margin-top: 0.2em;
}

.lng-icon {
  width: 3em;
}

.fire-icon {
  width: 1em;
}

.lngs-title {
  text-align: center;
}

.lng-front {
  padding-left: 0.5em;
}

.lng-native {
  padding-left: 1em;
}

.lang-html {
  width: 2.6em;
}

.lang-css {
  width: 1.9em;
}

.lang-js {
  width: 1.9em;
  margin: 0 1%;
}

.tool-scketch {
  width: 10em;
}

.tool-ps {
  width: 3em;
}

.lang-php {
  width: 3em;
  margin-left: 0.8em;
  padding-top: 1em;
}

.lang-unity {
  width: 6em;
  padding-top: 0.5em;
}

.lang-swift {
  width: 5em;
}

.lang-ar {
  display: inline-block;
  width: 5em;
}

.lang-firebase {
  display: inline-block;
  /* padding-top: 1em; */
  width: 8em;
}

.bitbucket {
  border-top: dotted 1px;
  margin-top: 2%;
  padding-top: 1em;
}
/*footer***********************************************************************/
footer {
  margin-top: 2em;
  /* border-top: solid 0.5px rgb(153, 153, 153); */
  height: 6em;
  /* background-color: rgba(228, 228, 228, 0.13); */
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.1);
}
// *************************テキスト***********************************************
.txtBold {
  @include txtBold();
}

.txtGray {
  @include txtGray($megaNavWeek);
}

.txtWeak {
  color: $licence;
}

.txtCenter {
  @include txtCenter();
}

.txtLeft {
  @include txtLeft();
}

.txtRight {
  @include txtRight();
}

.txtSizeXS {
  @include txtSizeXS();
}

.txtSizeS {
  @include txtSizeS();
}

.txtSizeM {
  @include txtSizeM();
}

.txtSizeL {
  @include txtSizeL();
}

.txtSizeXL {
  @include txtSizeXL();
}
// ***************************イメージ**********************************************
// *********************************レイアウト*****************************************
//                          ::::::::  マージン  :::::::

.m10 {
  margin: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.ml20 {
  margin-left: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml40 {
  margin-left: 40px;
}
//                          ::::::::  パディング  :::::::
// #################################################################################
// #################################  web ページ  #####################################
// #################################################################################


// #################################################################################
// ################################# appsページ  #####################################
// #################################################################################


// #################################################################################
// ################################# profileページ  #####################################
// #################################################################################

.profile-img-wrap {
  text-align: center;
}

.profile-img {
  display: inline-block;
}

.profile-name {
  margin: 1em 0 20px;
  font-family: Gulim;
  text-align: center;
  font-size: 3vw;
}
// #################################################################################
// ################################# artページ  #####################################
// #################################################################################

.site-title{
  padding-right: 0.5em;

}

.discrpt-wrap p {
  margin: 1.5em;

}

.img-art{
  margin: 1em 0 1em 0;
}

// #################################################################################
// ################################# ステイト  #####################################
// #################################################################################
