@charset "UTF-8";


// #################################################################################
// ################################# 基本構造  #####################################
// #################################################################################


@mixin a() {
  text-decoration: none;
  color: inherit;
}
@mixin body($backgroundColor) {
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// *********************************** header **********************************

@mixin header($color) {
  width: 100%;
  padding-top: 0.1em;
  background-color: $color;
}

// #################################################################################
// #################################  web ページ  #####################################
// #################################################################################

// **************************  ***********************************************


// #################################################################################
// #################################  apps ページ  #####################################
// #################################################################################

// **************************  ***********************************************


// #################################################################################
// #################################  profile ページ  #####################################
// #################################################################################

// **************************  ***********************************************

// #################################################################################
// #################################  art ページ  #####################################
// #################################################################################

// **************************  ***********************************************




// ************************** ステイト ***********************************************



// ************************** レスポンシブ ***********************************************
// :::::  asside :::::
// :::::  ロゴ  :::::


// @mixin logo--sm() {
//   @media screen and (max-width:500px) {
//     width: 30%;
//     min-width: 200px;
//     max-width: 300px;
//     margin: 1.5rem 1.5rem 2rem;
//   }
// }
