@charset "UTF-8";


// **********************フォントファミリー**********************************************


// $mainFont:;









@mixin txtBold {
  font-weight: bold;
}


@mixin txtGray($color) {
  color: $color;
  font-weight: 200;
  font-size: 10px;
}



// **********************フォントサイズ**********************************************
@mixin txtSizeXS(){
  font-size: 0.3rem;
}


@mixin txtSizeS(){
  font-size: 0.7rem;
}


@mixin txtSizeM(){
  font-size: 1rem;
}

@mixin txtSizeL(){
  font-size: 2rem;
}

@mixin txtSizeXL(){
  font-size: 3rem;
}







// *******************************レイアウト*******************************************

@mixin inline(){
  display: inline-block;
}


@mixin txtCenter(){
  text-align:  center;
}

@mixin txtLeft() {
  text-align:  left;
}

@mixin txtRight() {
  text-align: right;
}
